
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "posts.index";
//@import "reset";
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}



.content {
  flex: 1 0 auto;
}



.footer {
  flex: 0 0 auto;
}

#admin-panel {
  flex: 1 0 auto;
  height: 100%;
  background-color: lightsalmon;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

.menu-link {
  padding: 15px 0;
  display: block;
  color: #000;
}

#root {
  width: 100%;
}

.app-container {
  margin: 0;
}
.admin-panel {
  padding: 10px 30px 30px 30px;
  list-style-type: none;
}

.admin-content {
  padding-top: 10px;
}

.view-btn {
  margin-right: 10px;
}

#adminmenumain {
  background-color: lightcoral;
  float: left;
  min-height: 100vh;
}

.footer {
  background-color: #fff;
}

.hover-menu {
  display: none;
  position: absolute;
  background-color: lightcoral;
  right: -100%;
  top: 15px;
}

.with-hover-menu {
  position: relative;
}

.with-hover-menu:hover {
  .hover-menu {
    display: block;
  }
}
.content-container {
  padding-top: 10px;
}
.create-page-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  h2, input {
    margin: 0 !important;
  }
  form {
    margin-left: 15px;
  }
}
